<html>
<body>

<img src="/images/My pic.jpeg" alt="image not present" width=100 height=100></a>
<br>
<a href="http://www.google.com">Click Here</a>
<img src="images/My pic.jpeg" alt="image not present" width=100 height=100 </a>
<br>
<table>
<table border="1" align="left side">
<th> Id </th>
<th> Name </th>
<tr>
<td> 100 </td>
<td> abc </td>
</tr>
<tr>
<td> 200 </td>
<td> xyz </td>
</tr>
<tr>
<td> 300 </td>
<td> opq </td>
</tr>
<table>
<form method= "get" action="/sayhello">
<input type= "text" name="uname">
<br>
<input type= "password" name="pass">
<br>
<input type= "submit" value="ok">
</form>
</body>
</html>